.about-page {
  width: 100%;
  margin: 0 0 110px;
}

.about-head {
  padding-top: 70px;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 595px;
  width: 100%;
  margin: 0 auto 150px;
  &.about-head--rooms {
    max-width: 930px;
  }
  &::before {
    width: 28px;
    height: 19px;
    background: url("../img/sqr-3.svg") no-repeat center / 100%;
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  b {
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #A9A9A9;
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
  }
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #E0C18D;
    display: inline-block;
    margin-bottom: 20px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #3A3A3A;
  }
}
.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .event-history {
    margin-bottom: 55px;
    &:not(:first-child) {
      margin-top: 55px;
    }
  }
}
.event-history {
  .quote {
    background: #F8F4EE;
    border-radius: 0 4px 4px 0;
    padding: 16px 25px;
    width: 100%;
    margin-top: 17px;
    border-left: 3px solid #E0C18D;
    box-sizing: border-box;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #3A3A3A;
      font-family: $second-font;
    }
  }
  .gal-left {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;

    &::after {
      height: 1px;
      left: 100%;
      width: 60px;
      background: #E0C18D;
      top: 30px;
      display: inline-block;
      content: '';
      position: absolute;
    }
    .im {
      cursor: pointer;
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      height: 0;
      position: relative;
      padding-top: 43.75%;
      width: calc(55% - 10px);
      &:nth-child(3n-1), &:nth-child(4n-1) {
        width: calc(45% - 10px);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &.event-history--top {
    .left {

      transform: translate(0, -250px);
    }
  }
}
.about-gallery {
  width: 100%;
  display: block;
  margin: 0 0 55px;
  .img {
    float: left;
    display: block;
    height: 0;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    padding-top: 37.2%;
    overflow: hidden;

    &:nth-child(1) {
      margin-bottom: 0;
    }
    &:nth-child(3n - 1), &:nth-child(4n - 1), &:nth-child(5n - 1), &:nth-child(6n - 1) {
      width: calc((50% - 30px) / 2);
      padding-top: calc((37.2% / 2) - 10px);
    }
    &:nth-child(4n - 1), &:nth-child(6n - 1) {
      margin-right: 0;
    }
    &:nth-child(5n - 1), &:nth-child(6n - 1) {
      margin-bottom: 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }
}
.about-content .event-history {
  &:last-child {
    margin-bottom: 0;
  }
}
.about-banner {
  width: 100%;
  position: relative;
  & + .popular-rest {
    margin-top: 100px;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background: url("../img/ab-bg1.svg") no-repeat left center/ auto 100%, url("../img/ab-bg2.svg") no-repeat right center/ auto 100%, #F8F4EE;
  }
  .container {
    position: relative;
    z-index: 2;
  }
}
.about-bnr__text {
  width: 100%;
  max-width: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
  .line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 28px;
      height: 19px;
      margin: 0 17px;
    }
    &::before, &::after {
      width: auto;
      flex-grow: 1;
      background: #E0C18D;
      height: 1px;
      display: inline-block;
      content: '';
    }
  }
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #23514C;
    margin: 45px 0;
  }
}
.iframe-map {
  width: 100%;
  height: 553px;
  margin-bottom: 110px;
  iframe {
    width: 100% !important;
    height: 100% !important;
  }
}
@media screen and (max-width: 1200px) {
  .event-history--reverse .right h2:first-child::after {
    content: '';
  }
  .event-history .right h2:first-child::after {
    content: '';
  }
  .event-history.event-history--top .left {
    transform: translate(0, -170px);
  }
  .about-banner + .popular-rest {
    margin-top: 60px;
  }
  .iframe-map {

  }
  .iframe-map {
    height: 400px;
    margin-bottom: 60px;
  }
  .about-content {
    .event-history {
      margin-bottom: 35px;
      &:not(:first-child) {
        margin-top: 35px;
      }
    }
  }
  .about-head {
    margin-bottom: 60px;
  }
  .about-page {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  .event-history.event-history--top .left {
    transform: translate(0, 0);
  }
  .iframe-map {
    height: 320px;
  }
  .about-bnr__text {
    padding: 25px 0;
    p {
      font-size: 22px;
      line-height: 1.2;
      margin: 20px 0;
    }
  }
  .event-history .quote {
    padding: 10px 14px;

    p {
      font-size: 14px;
      line-height: 1.2;
    }
  }
}
@media screen and (max-width: 767px) {
  .about-banner + .popular-rest {
    margin-top: 40px;
  }
  .about-gallery {
    margin-bottom: 20px;
  }
  .about-gallery {
    .img {
      margin-right: 10px;
      margin-bottom: 10px;
      width: calc(50% - 5px);
      padding-top: 37.2%;
      overflow: hidden;

      &:nth-child(1) {
        margin-bottom: 0;
      }
      &:nth-child(3n - 1), &:nth-child(4n - 1), &:nth-child(5n - 1), &:nth-child(6n - 1) {
        width: calc((50% - 15px) / 2);
        padding-top: calc((37.2% / 2) - 5px);
      }
      &:nth-child(4n - 1), &:nth-child(6n - 1) {
        margin-right: 0;
      }
      &:nth-child(5n - 1), &:nth-child(6n - 1) {
        margin-bottom: 0;
      }
    }
  }
  .about-content {
    .event-history {
      margin-bottom: 25px;
      &:not(:first-child) {
        margin-top: 25px;
      }
    }
  }
  .about-page {
    margin-bottom: 40px;
  }
  .about-head {
    padding-top: 40px;
    margin-bottom: 40px;
    span {
      font-size: 22px;
      line-height: 1.2;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      line-height: 1.2;
    }
  }
}
@media screen and (max-width: 600px) {
  .iframe-map {
    margin-bottom: 40px;
  }
  .about-banner {
    background: #F8F4EE;
    .bg {
      opacity: 0.5;
    }
  }
  .about-bnr__text p {
    font-size: 20px;
  }
  .about-gallery {
    .img {
      margin-right: 10px;
      margin-bottom: 10px;
      width: calc(50% - 5px);
      padding-top: 37.2%;
      overflow: hidden;

      &:nth-child(1) {
        margin-bottom: 10px;
      }
      &:nth-child(3n - 1), &:nth-child(4n - 1), &:nth-child(5n - 1), &:nth-child(6n - 1) {
        width: calc(50% - 5px);
        padding-top: 37.2%;
      }
      &:nth-child(4n - 1) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
       &:nth-child(6n - 1) {
        margin-right: 0;
         margin-bottom: 10px;
      }
      &:nth-child(5n - 1), &:nth-child(6n - 1) {
        margin-bottom: 0;
      }
      &:nth-child(even) {
        margin-right: 0;
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }
  .blog-slider__cont {
    margin-top: 15px;
  }
  .blog-slider__cont .single-blog {
    width: 86%;
    .text {
      padding: 0;
    }
  }
  .event-history {
    .gal-left {
      gap: 10px;
      .im {
        width: calc(55% - 5px);
        &:nth-child(3n-1), &:nth-child(4n-1) {
          width: calc(45% - 5px);
        }
      }
    }
  }
}
@media screen and (max-width: 475px) {
  .iframe-map {
    height: 220px;
  }
}