.photo-slider {
  width: 100%;
  margin: 0 0 110px;

  .insta-gallery__head {
    p {
      color: #E0C18D;
    }
  }
}

.photo-slider__cont {
  width: 100%;
  margin-top: 50px;
}

.photo-slide {
  height: 360px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

main > .container > .about-head {
  margin-bottom: 100px;
}

.room-info {
  width: 100%;
  margin-bottom: 110px;
}

.room-include {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 40px;
  flex-wrap: wrap;

  li {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #3A3A3A;
    width: calc(50% - 20px);
    border-bottom: 1px solid #E6E6E6;
    padding: 25px 0;
    box-sizing: border-box;
  }
}

.room-additive {
  width: 100%;
  margin-top: 110px;

  .title {
    text-align: center;
    margin-bottom: 50px;
  }
}

.additive-room {
  width: 100%;
  padding: 60px 0;
  border-top: 1px solid #E6E6E6;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &:last-child {
    padding-bottom: 0;
  }

  .left {
    flex-grow: 1;

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      color: #3A3A3A;
    }
  }

  .right {
    width: 58%;
    margin-left: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    p, li {
      font-family: $second-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;

      color: #3A3A3A;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      em {
        color: #73A697;
        font-weight: 400;
        font-style: normal;
      }

      strong {
        font-weight: 500;
        font-family: $main-font;
      }

      small {
        font-size: 14px;
        line-height: 1.2;
      }
    }

    ul {
      li {
        width: 100%;
        padding-left: 23px;
        box-sizing: border-box;
        position: relative;

        &::before {
          position: absolute;
          width: 7px;
          height: 7px;
          display: inline-block;
          content: '';
          background: url("../img/li-orn.svg") no-repeat center / 100%;
          top: 9px;
          left: 8px;
        }

      }
    }
  }
}

.hero-default + .container .about-head {
  margin-top: 90px;
}

.rest-list {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 110px 20px;
}

.single-rest {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .img {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 0;
    padding-top: 56.2%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > span {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      color: #E0C18D;
      display: inline-block;
      margin-bottom: 20px;
    }

    > p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      color: #3A3A3A;
      font-family: $second-font;
      max-width: 532px;
    }
  }

  a {
    text-decoration: none;
  }

  .bot {
    .btn {
      margin-bottom: 20px;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 60px;

    p {
      font-family: $second-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.05em;
      color: #A9A9A9;
      margin-bottom: 5px;
    }

    a:not(.btn) {
      font-family: $second-font;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #23514C;
    }
  }
}

.rest-block {
  width: 100%;
  margin-bottom: 110px;
}

.restaurant {
  width: 100%;
  margin-bottom: 110px;
  margin-top: 80px;

  .about-head {
    margin-bottom: 0;
  }
}

.hero-text .btn {
  padding: 11px;
}

.restaurant-preview {
  width: 100%;
  margin: 110px 0;
  box-sizing: border-box;
  padding: 50px 0;
  background: url("../img/hs-bg-1.svg") no-repeat left center / 38%, url('../img/hs-bg-2.svg') no-repeat right center / 38%, #F8F4EE;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .video {
    width: 100%;
    max-width: 720px;
    height: 405px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      width: 96px;
      height: 96px;
      box-sizing: border-box;
      border-radius: 50%;
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 1);
      border: 15px solid rgba(255, 255, 255, 0.3);
      display: inline-block;
      cursor: pointer;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: border 0.4s ease;

    }

    &::before {
      z-index: 2;
      position: absolute;
      width: 20px;
      height: 23px;
      background: url("../img/play-orange.svg") no-repeat center / 100%;
      display: inline-block;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width 0.3s ease, height 0.3s ease;
    }

    &:hover {
      &::after {
        border: 0 solid rgba(255, 255, 255, 0.3);
        transition: border 0.4s ease;

      }

      &::before {
        width: 30px;
        height: 34px;
        transition: width 0.3s ease, height 0.3s ease;

      }
    }
  }
}

.restaurant-gallery {
  width: 100%;
  margin-bottom: 100px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
      text-align: center;
    }
  }
}

.restaurants-photos {
  width: 100%;
  display: block;
  margin-top: 30px;

  .img {
    float: left;
    width: calc(25% - (60px / 4));
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    height: 0;
    padding-top: 16%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(3n - 1), &:nth-child(5n - 1), &:nth-child(6n - 1), &:nth-child(8n - 1) {
      padding-top: 28%;
    }

    &:nth-child(6n - 1), &:nth-child(8n - 1) {
      margin-top: -12%;
    }

    &:nth-child(9n - 1) {
      margin-right: 0;
      padding-top: 16%;
    }

  }
}
.gallery-page {
  width: 100%;
  margin: 110px 0;
}

@media screen and (max-width: 1200px) {
  .gallery-page {
    margin: 70px 0;
  }
  .restaurant-gallery {
    margin-bottom: 70px;
  }
  .restaurant-preview {
    margin: 80px 0;
    padding: 40px 0;

    .video {
      height: 360px;
    }
  }
  .restaurant-preview .container p {
    margin-bottom: 30px;
  }
  .restaurant {
    margin: 60px 0 70px;
  }
  .rest-list {
    gap: 60px 20px;
  }
  .single-rest {
    .img {
      padding-top: 44%;
    }

    .text {
      margin-top: 20px;

      > span {
        font-size: 22px;
        line-height: 1.2;
      }

      > p {
        font-size: 14px;
        line-height: 1.2;
      }
    }

    .bot {
      margin-top: 35px;

      .btn {
        margin-bottom: 14px;
      }
    }
  }
  .hero-default + .container .about-head {
    margin-top: 50px;
  }
  .rest-block {
    margin-bottom: 70px;
  }
  .room-additive {
    margin-top: 70px;

    .title {
      margin-bottom: 30px;
    }
  }
  .room-info {
    margin-bottom: 70px;
  }
  .photo-slide {
    height: 260px;
  }
  .photo-slider__cont {
    margin-top: 30px;
  }
  main > .container > .about-head {
    margin-bottom: 60px;
  }
  .photo-slider {
    margin-bottom: 80px;
  }
  .hero-default.hero-contacts .hero-text .hero-title + .btn {
    margin-top: 10px;
  }
  .hero-default.hero-contacts {
    height: auto;
  }
  .hero-sizes {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .single-size .img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1050px) {
  .rest-block {
    margin-bottom: 50px;
  }
  .additive-room {
    padding: 35px 0;
  }
  .room-include {
    column-gap: 20px;

    li {
      width: calc(50% - 10px);
      padding: 18px 0;
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .additive-room .left p {
    font-size: 18px;
    line-height: 1.2;
  }
  .additive-room .right p small, .additive-room .right li small {
    font-size: 12px;
    line-height: 1.2;
  }
  .additive-room .right ul li, .additive-room .right p {
    font-size: 14px;
    line-height: 1.2;

    &::before {
      top: 6px;
    }
  }
}

@media screen and (max-width: 992px) {
  .single-rest .text > span {
    margin-bottom: 12px;
  }
  .single-rest .bot {
    margin-top: 20px;

    .btn {
      margin-bottom: 10px;
    }
  }
  .room-include li {
    font-size: 14px;
  }
  .hero-default.hero-contacts .hero-text .hero-title + .btn {
    margin-top: 20px;
  }
  .single-size p {
    font-size: 12px;
    line-height: 1.2;
  }
}

.single-rest .bot p {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .gallery-page {
    margin: 50px 0;
  }
  .restaurants-photos {
    margin-top: 15px;

    .img {
      margin-right: 10px;
      margin-bottom: 10px;
      width: calc(50% - 5px);
      padding-top: 27%;

      &:nth-child(even) {
        margin-right: 0;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:nth-child(3n - 1), &:nth-child(5n - 1), &:nth-child(6n - 1), &:nth-child(8n - 1) {
        padding-top: 27%;
      }

      &:nth-child(3n - 1), &:nth-child(4n - 1), &:nth-child(6n - 1), &:nth-child(8n - 1) {
        padding-top: 38%;

      }

      &:nth-child(9n - 1) {
        padding-top: 38%;
        margin-top: -11%;
      }
      &:nth-child(8n - 1) {
        padding-top: 27%;
        margin-top: 0;

      }

      &:nth-child(4n - 1), &:nth-child(6n - 1), &:nth-child(9n - 1) {
        margin-top: -11%;
      }

      &:nth-child(6n - 1), &:nth-child(8n - 1) {
        margin-top: 0;
      }

    }
  }
  .restaurant-gallery {
    margin-bottom: 50px;
  }
  .restaurant-preview {
    margin: 50px 0;
    padding: 30px 0;
    background: url("../img/hs-bg-1.svg") no-repeat left -15% / 100%, url('../img/hs-bg-2.svg') no-repeat right bottom / 100%, #F8F4EE;

    .video {
      height: 360px;
    }
  }
  .restaurant {
    margin: 50px 0 40px;
  }
  .room-additive {
    margin-top: 40px;
  }
  .room-info {
    margin-bottom: 40px;
  }
  .hero-sizes {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .photo-slider__cont {
    margin-top: 20px;
  }
  main > .container > .about-head {
    margin-bottom: 40px;
  }
  .photo-slider {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .restaurant-preview .video {
    height: 290px;
  }
  .rest-list {
    gap: 20px;
  }
  .single-rest .text > p {
    display: none;
  }
  .single-rest .text > span {
    font-size: 20px;
    margin-bottom: 0;
  }
  .single-rest .bot {
    margin-top: 10px;

    p {
      font-size: 12px;
      line-height: 1.2;
    }

    a:not(.btn) {
      font-size: 12px;
      line-height: 1.2;
    }
  }
  .additive-room {
    padding: 20px 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .left {
      width: 100%;
      margin-bottom: 10px;

      p {
        text-align: center;
      }
    }

    .right {
      width: 100%;
      margin: 0;
    }
  }
  .photo-slide {
    width: 70%;
    flex-shrink: 0;
    height: 190px;
  }
  .room-include {
    margin-top: 10px;
  }
}

@media screen and (max-width: 525px) {
  .restaurant-preview {
    padding-top: 50px;
  }
  .restaurant-preview .video {
    height: 190px;
  }
  .hero-default::after {
    background-size: 150%;
  }
  .event-history .text h2 {
    width: 100%;
  }
  .room-include li {
    width: 100%;
    padding: 12px 0;
  }
  .photo-slide {
    height: 156px;
  }
  .single-rest {
    width: 100%;
  }
}