.photo-slider {
  width: 100%;
  margin: 0 0 110px;

  .insta-gallery__head {
    p {
      color: #E0C18D;
    }
  }
}

.photo-slider__cont {
  width: 100%;
  margin-top: 50px;
}

.photo-slide {
  height: 360px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

main > .container > .about-head {
  margin-bottom: 100px;
}

.room-info {
  width: 100%;
  margin-bottom: 110px;
}

.room-include {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 40px;
  flex-wrap: wrap;

  li {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #3A3A3A;
    width: calc(50% - 20px);
    border-bottom: 1px solid #E6E6E6;
    padding: 25px 0;
    box-sizing: border-box;
  }
}

.room-additive {
  width: 100%;
  margin-top: 110px;

  .title {
    text-align: center;
    margin-bottom: 50px;
  }
}

.additive-room {
  width: 100%;
  padding: 60px 0;
  border-top: 1px solid #E6E6E6;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &:last-child {
    padding-bottom: 0;
  }

  .left {
    flex-grow: 1;

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      color: #3A3A3A;
    }
  }

  .right {
    width: 58%;
    margin-left: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    p, li {
      font-family: $second-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;

      color: #3A3A3A;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      em {
        color: #73A697;
        font-weight: 400;
        font-style: normal;
      }

      strong {
        font-weight: 500;
        font-family: $main-font;
      }

      small {
        font-size: 14px;
        line-height: 1.2;
      }
    }

    p {
      img {
        width: 14px;
        height: 14px;
        margin-right: 6px;
      }

      b {
        margin-right: 6px;
      }
    }

    ul {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
      li {
        width: 100%;
        padding-left: 23px;
        box-sizing: border-box;
        position: relative;


        &::before {
          position: absolute;
          width: 7px;
          height: 7px;
          display: inline-block;
          content: '';
          background: url("../img/li-orn.svg") no-repeat center / 100%;
          top: 9px;
          left: 8px;
        }

      }
    }
  }
}

.hero-default + .container .about-head {
  margin-top: 90px;
}

.rest-list {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 110px 20px;
}

.single-rest {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .img {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 0;
    padding-top: 56.2%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > span {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      color: #E0C18D;
      display: inline-block;
      margin-bottom: 20px;
    }

    > p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      color: #3A3A3A;
      font-family: $second-font;
      max-width: 532px;
    }
  }

  a {
    text-decoration: none;
  }

  .bot {
    .btn {
      margin-bottom: 20px;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 60px;

    p {
      font-family: $second-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.05em;
      color: #A9A9A9;
      margin-bottom: 5px;
    }

    a:not(.btn) {
      font-family: $second-font;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #23514C;
    }
  }
}

.rest-block {
  width: 100%;
  margin-bottom: 110px;
}

.restaurant {
  width: 100%;
  margin-bottom: 110px;
  margin-top: 80px;

  .about-head {
    margin-bottom: 0;
  }
}

.hero-text .btn {
  padding: 11px;
}

.restaurant-preview {
  width: 100%;
  margin: 110px 0;
  box-sizing: border-box;
  padding: 50px 0;
  background: url("../img/hs-bg-1.svg") no-repeat left center / 38%, url('../img/hs-bg-2.svg') no-repeat right center / 38%, #F8F4EE;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .video {
    width: 100%;
    max-width: 720px;
    height: 405px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      width: 96px;
      height: 96px;
      box-sizing: border-box;
      border-radius: 50%;
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 1);
      border: 15px solid rgba(255, 255, 255, 0.3);
      display: inline-block;
      cursor: pointer;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: border 0.4s ease;

    }

    &::before {
      z-index: 2;
      position: absolute;
      width: 20px;
      height: 23px;
      background: url("../img/play-orange.svg") no-repeat center / 100%;
      display: inline-block;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width 0.3s ease, height 0.3s ease;
    }

    &:hover {
      &::after {
        border: 0 solid rgba(255, 255, 255, 0.3);
        transition: border 0.4s ease;

      }

      &::before {
        width: 30px;
        height: 34px;
        transition: width 0.3s ease, height 0.3s ease;

      }
    }
  }
}

.restaurant-gallery {
  width: 100%;
  margin-bottom: 100px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
      text-align: center;
    }
  }
}

.restaurants-photos {
  width: 100%;
  display: block;
  margin-top: 30px;

  .img {
    float: left;
    width: calc(25% - (60px / 4));
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    height: 0;
    padding-top: 16%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(3n - 1), &:nth-child(5n - 1), &:nth-child(6n - 1), &:nth-child(8n - 1) {
      padding-top: 28%;
    }

    &:nth-child(6n - 1), &:nth-child(8n - 1) {
      margin-top: -12%;
    }

    &:nth-child(9n - 1) {
      margin-right: 0;
      padding-top: 16%;
    }

  }
}

.gallery-page {
  width: 100%;
  margin: 110px 0;
}

.gallery-page__block {

  display: block;
  width: 100%;

  .swiper-slide {
    width: calc((100% / 3) - (40px / 3));
    height: auto;
    border-radius: 4px;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
    display: flex;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.rooms-book {
  width: 100%;
  margin-bottom: 110px;

}

.room-book__head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #3A3A3A;
  }

  ul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;

    a {
      font-family: $second-font;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #73A697;
      text-decoration: none;

      &:hover {
        color: #E0C18D;
      }
    }

    li {
      padding-right: 24px;
      position: relative;

      &:last-child {
        padding-right: 0;

        &::after {
          content: none;
        }
      }

      &::after {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        display: inline-block;
        content: '';
        background: #CCCCCC;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
      }
    }
  }
}

.room-book__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.room-book__list {
  width: 320px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 15px;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    li {
      width: 100%;
      padding-left: 29px;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;

      font-family: $second-font;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #A9A9A9;
      transition: color 0.3s ease;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        width: 0;
        height: 1px;
        display: inline-block;
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        background: #3A3A3A;
        transform: translate(0, -50%);
        transition: width 0.3s ease;

      }

      &.active, &:hover {
        color: #3A3A3A;
        transition: color 0.3s ease;

        &::before {
          width: 19px;
          transition: width 0.3s ease;

        }
      }
    }
  }
}

.room-book__tabs {
  flex-grow: 1;

}

.room-book_single {
  width: 100%;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;

  .img {
    width: 52.6%;
    height: auto;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 28px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      color: #E0C18D;
    }

    ul {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 20px 0;

      li {
        padding-right: 15px;
        margin-right: 15px;
        position: relative;

        font-family: $second-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: #3A3A3A;

        &::after {
          width: 1px;
          height: 18px;
          background: #E6E6E6;
          display: inline-block;
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
        }

        &:last-child {
          padding-right: 0;
          margin-right: 0;

          &::after {
            content: none;
          }
        }
      }
    }

    p {
      font-family: $second-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #3A3A3A;
      margin-bottom: 10px;
    }

    .btn {
      margin-top: 50px;
      box-sizing: border-box;
    }
  }

  &.active {
    display: flex;
  }
}

@media screen and (max-width: 705px) {
  .gallery-page__block {
    .swiper-slide {
      height: 0;
      position: relative;
      padding-top: 53%;
      border-radius: 4px;
      margin-bottom: 0;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .room-book__list {
    width: 280px;
    margin-right: 12px;
  }
  .room-book__list ul li {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
  }
  .rooms-book {
    margin-bottom: 60px;
  }
  .gallery-page {
    margin: 70px 0;
  }
  .restaurant-gallery {
    margin-bottom: 70px;
  }
  .restaurant-preview {
    margin: 80px 0;
    padding: 40px 0;

    .video {
      height: 360px;
    }
  }
  .restaurant-preview .container p {
    margin-bottom: 30px;
  }
  .restaurant {
    margin: 60px 0 70px;
  }
  .rest-list {
    gap: 60px 20px;
  }
  .single-rest {
    .img {
      padding-top: 44%;
    }

    .text {
      margin-top: 20px;

      > span {
        font-size: 22px;
        line-height: 1.2;
      }

      > p {
        font-size: 14px;
        line-height: 1.2;
      }
    }

    .bot {
      margin-top: 35px;

      .btn {
        margin-bottom: 14px;
      }
    }
  }
  .hero-default + .container .about-head {
    margin-top: 50px;
  }
  .rest-block {
    margin-bottom: 70px;
  }
  .room-additive {
    margin-top: 70px;

    .title {
      margin-bottom: 30px;
    }
  }
  .room-info {
    margin-bottom: 70px;
  }
  .photo-slide {
    height: 260px;
  }
  .photo-slider__cont {
    margin-top: 30px;
  }
  main > .container > .about-head {
    margin-bottom: 60px;
  }
  .photo-slider {
    margin-bottom: 80px;
  }
  .hero-default.hero-contacts .hero-text .hero-title + .btn {
    margin-top: 10px;
  }
  .hero-default.hero-contacts {
    height: auto;
  }
  .hero-sizes {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .single-size .img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1050px) {
  .room-book_single .img {
    width: 46%;
    margin-right: 18px;
  }
  .room-book_single {
    .text {
      .btn {
        margin-top: 25px;
      }
    }
  }
  .rest-block {
    margin-bottom: 50px;
  }
  .additive-room {
    padding: 35px 0;
  }
  .room-include {
    column-gap: 20px;

    li {
      width: calc(50% - 10px);
      padding: 18px 0;
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .additive-room .left p {
    font-size: 18px;
    line-height: 1.2;
  }
  .additive-room .right p small, .additive-room .right li small {
    font-size: 12px;
    line-height: 1.2;
  }
  .additive-room .right ul li, .additive-room .right p {
    font-size: 14px;
    line-height: 1.2;

    &::before {
      top: 6px;
    }
  }
}

@media screen and (max-width: 992px) {
  .room-book_single {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .text {
      width: 100%;
    }

    .img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
      height: 0;
      padding-top: 71%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .single-rest .text > span {
    margin-bottom: 12px;
  }
  .single-rest .bot {
    margin-top: 20px;

    .btn {
      margin-bottom: 10px;
    }
  }
  .room-include li {
    font-size: 14px;
  }
  .hero-default.hero-contacts .hero-text .hero-title + .btn {
    margin-top: 20px;
  }
  .single-size p {
    font-size: 12px;
    line-height: 1.2;
  }
}

.single-rest .bot p {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .room-book__head {
    ul {
      flex-wrap: wrap;
      margin-bottom: 30px;
      margin-top: 25px;
      justify-content: center;

      li {

        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        &:nth-child(even) {
          padding-right: 0;

          &::after {
            content: none;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .gallery-page {
    margin: 50px 0 30px;
  }
  .restaurants-photos {
    margin-top: 15px;

    .img {
      margin-right: 10px;
      margin-bottom: 10px;
      width: calc(50% - 5px);
      padding-top: 27%;

      &:nth-child(even) {
        margin-right: 0;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:nth-child(3n - 1), &:nth-child(5n - 1), &:nth-child(6n - 1), &:nth-child(8n - 1) {
        padding-top: 27%;
      }

      &:nth-child(3n - 1), &:nth-child(4n - 1), &:nth-child(6n - 1), &:nth-child(8n - 1) {
        padding-top: 38%;

      }

      &:nth-child(9n - 1) {
        padding-top: 38%;
        margin-top: -11%;
      }

      &:nth-child(8n - 1) {
        padding-top: 27%;
        margin-top: 0;

      }

      &:nth-child(4n - 1), &:nth-child(6n - 1), &:nth-child(9n - 1) {
        margin-top: -11%;
      }

      &:nth-child(6n - 1), &:nth-child(8n - 1) {
        margin-top: 0;
      }

    }
  }
  .restaurant-gallery {
    margin-bottom: 50px;
  }
  .restaurant-preview {
    margin: 50px 0;
    padding: 30px 0;
    background: url("../img/hs-bg-1.svg") no-repeat left -15% / 100%, url('../img/hs-bg-2.svg') no-repeat right bottom / 100%, #F8F4EE;

    .video {
      height: 360px;
    }
  }
  .restaurant {
    margin: 50px 0 40px;
  }
  .room-additive {
    margin-top: 60px;
  }
  .room-info {
    margin-bottom: 40px;
  }

  .hero-sizes {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .photo-slider__cont {
    margin-top: 20px;
  }
  main > .container > .about-head {
    margin-bottom: 40px;
  }
  .photo-slider {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 650px) {
  .rooms-book {
    position: relative;
    z-index: 3;
  }
  .room-book__head {
    ul {
      flex-wrap: wrap;
      margin-bottom: 30px;
      margin-top: 25px;
      justify-content: center;

      li {

        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        &:nth-child(even) {
          padding-right: 0;

          &::after {
            content: none;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .room-book__content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .room-book__list {
    margin-bottom: 20px;
    width: 100%;
    margin-right: 0;
    position: relative;

    ul {
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      border: 1px solid #E6E6E6;
      padding: 0;
      box-sizing: border-box;
      background: #fff;
      border-radius: 0 0 4px 4px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      li {
        padding: 10px;
        border-bottom: 1px solid #E6E6E6;

        &:last-child {
          border-bottom: none;
        }

        margin-bottom: 5px;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        width: 100%;

        &::before {
          content: none;

        }
      }
    }

    .catalog-head__list {
      box-sizing: border-box;
    }

    .catalog-head__list.open {
      & ~ ul {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .restaurant-preview .video {
    height: 290px;
  }
  .rest-list {
    gap: 50px;
  }
  .single-rest .text > p {
    font-size: 16px;
    line-height: 1.2;
    margin: 20px 0;
  }
  .single-rest .text > span {
    font-size: 28px;
    margin-bottom: 0;
  }
  .single-rest .bot {
    margin-top: 10px;

    p {
      font-size: 12px;
      line-height: 1.2;
    }

    a:not(.btn) {
      font-size: 12px;
      line-height: 1.2;
    }
  }
  .single-rest .img {
    padding-top: 57%;
  }
  .additive-room {
    padding: 20px 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .left {
      width: 100%;
      margin-bottom: 0;
      position: relative;
      padding-right: 15px;

      p {
        text-align: left;
      }

      &::before, &::after {
        width: 14px;
        height: 1px;
        background: #23514C;
        display: inline-block;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, 0);
      }

      &::after {
        transform: rotate(90deg);
      }


    }

    &.open {
      padding-bottom: 40px;

      .left {
        &::after {
          opacity: 0;
        }

        &::before {
          background: #E0C18D;
        }
      }

      .right {
        padding-top: 15px;
        max-height: 1200px;
        transition: max-height 1.2s ease;

      }
    }

    .right {
      width: 100%;
      margin: 0;
      max-height: 0;
      margin-top: 0;
      overflow: hidden;
      transition: max-height 0.7s ease, margin-top 0.4s ease;
    }
  }
  .photo-slide {
    width: 70%;
    flex-shrink: 0;
    height: 190px;
  }
  .room-include {
    margin-top: 10px;
  }
}

@media screen and (max-width: 525px) {
  .hero-default {
    min-height: 494px;
  }
  .restaurant-preview {
    padding-top: 50px;
  }
  .restaurant-preview .video {
    height: 190px;
  }
  .hero-default::after {
    background-size: 150%;
  }
  .event-history .text h2 {
    width: 100%;
  }
  .room-include li {
    width: 100%;
    padding: 12px 0;
  }
  .photo-slide {
    height: 156px;
  }
  .single-rest {
    width: 100%;
  }
  .hero-text .btn {
    width: auto;
    min-width: 220px;
  }
}

@media screen and (max-width: 360px) {
  .room-book__head ul a {
    font-size: 12px;
    line-height: 1.1;
  }
}